@model IEnumerable<MenuFromDatabaseCrudApplication.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Admin"))
{
    <nav>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a asp-action="Create" class="btn btn-outline-primary ml-auto">Create New</a>
            </li>
        </ul>
    </nav>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            @if (true)
            {
                <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>

                @if (User.IsInRole("Admin"))
                {
                    <td>

                        <div class="btn btn-group-sm">
                            <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-outline-info">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-outline-primary">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-outline-danger">Delete</a>

                        </div>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
